{% extends "base.html" %}
{% load user_filters %} 
{% load thumbnail %}
{% block title %}
{% if is_edit %}
    Редактировать пост
  {% else %}
    Новый пост
  {% endif %}       
{% endblock %}
{% block content %}
{% load user_filters %}
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">       
                {% if is_edit %}
    Редактировать пост
  {% else %}
    Новый пост
  {% endif %}              
              </div>
              <div class="card-body">        
                <form method="post" enctype="multipart/form-data" action={% if is_edit %}
                "{% url 'posts:post_edit' post_id=post.id %}"
                {% else %}
                  "{% url 'posts:post_create' %}"
                {% endif %}>
                  {% csrf_token %}          
                  <div class="form-group row my-3 p-3">
                  <label>
                      {{ form.text.label }}                 
                      <span class="required text-danger" >*</span>                  
                    </label>
                    {{ form.text|addclass:'form-control' }}             
                    <small id="id_text-help" class="form-text text-muted">
                    Текст нового поста
                    </small>                    
                  </div>            
                  <div class="form-group row my-3 p-3">
                    <label for="{{ form.group.id_for_label }}">
                      {{ form.group.label }}                
                    </label>
                    {{ form.group|addclass:'form-control' }}
                    <small id="id_group-help" class="form-text text-muted">
                      Группа, к которой будет относиться пост
                    </small>
                  </div>
                  <div class="form-group row my-3 p-3">
                    <label for="id_image">
                      Картинка                      
                    </label>
                    <input type="file" name="image" accept="media/" class="form-control" id="id_image">                      
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      {% if is_edit %}
    Сохранить
  {% else %}
    Добавить
  {% endif %}  
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
{% endblock %} 